# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.1.0
jobs:
  build:
    docker:
      - image: cimg/node:15.0.1-browsers
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - run: |
          node --version
          java --version
          google-chrome --version
          npm install yo generator-hubot --save-dev
          npm fund
          npm install npm@7.23.0 --save-dev
          mkdir my-awesome-hubot && cd my-awesome-hubot
          npm fund
          npm audit fix --force
          npm run yo hubot $HUBOT_SLACK_TOKEN --adapter=slack